.sortirovka__button:checked + .sortirovka__name {
    color: #22ba3e;
}
.sortirovka__button:checked + .sortirovka__icon_2 svg .cls-3{
    fill: #22ba3e;
}
.sortirovka__button:checked + .sortirovka__icon_1 svg .cls-3{
    fill: #22ba3e;
}