.related_products  h2{
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 0.8;
  text-align: center;
padding-bottom: 25px;
    position: relative;
    margin-bottom: 51px;
    display: block;
}
.related_products h2:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
      width: 44px;
  height: 4px;
  background-color: #000000;
    margin-left: -22px;
}
.related_products .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 38px;
}
.product_item_t_1 {
    width: 30%;
    width: calc(33% - 20px);
      border: solid 2px #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 30px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}
.product_item_t_1 > img {
    margin-bottom: 60px;
    width: 100%;
    width: calc(100% - 60px);
}
.t_t1__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.t_t1__title_and_valuation > p {
    margin-bottom: 6px;
  font-size: 18px;
    font-weight: bold;
}
.t_t1__prise {
    padding-left: 19px;
    border-left: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.t_t1__prise .sale {
     font-size: 18px;
  color: #a4a4a4; 
    text-decoration: line-through;
}
.t_t1__prise .sale .rouble_icon {
    width: 9px;
    height: 12px;
    background-image: url(../img/icons/roubl__gray.svg);
}
.t_t1__prise .prise {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.t_t1__prise .prise .rouble_icon {
    width: 13px;
    height: 13px;
}
.product_item_t_1__add_to_card {
      width: 163px;
  height: 44px;
  border-radius: 50px;
  background-color: #ee2c37;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 44px;
    top: 50%;
    left: 50%;
    margin-left: -81.5px;
    margin-top: -70px;
    opacity: 0;
    transition:all 0.3s;
}
.product_item_t_1__enlarge_photo {
      width: 163px;
  height: 44px;
  border-radius: 50px;
  background-color: #ee2c37;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 44px;
    top: 50%;
    left: 50%;
    margin-left: -81.5px;
    margin-top: -15px;
    opacity: 0;
    transition:all 0.3s;
}
.product_item_t_1:hover .product_item_t_1__enlarge_photo {
    opacity: 1;
}
.product_item_t_1:hover .product_item_t_1__add_to_card {
    opacity: 1;
}
.product_item_t_1__text_description {
    display: none;
}
.t_t1__description__add_to_card {
    display: none;
}
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/
@media screen and (min-width:600px){
    .list .product_item_t_1 {
flex-direction: row;
    width: 100%;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 28px;
}
.catalog_page__wrapper__result__products.list .product_item_t_1 > img {
    width: 304px;
    max-width: 40%;
    margin-right: 36px;
    margin-bottom: 0px;
}
.list .t_t1__description {
flex-direction: column;
        flex-grow: 1;
    flex-basis: 10px;
}
.list .product_item_t_1__text_description {
    display: block;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #000000;
    margin-bottom: 15px;

}
.list .t_t1__prise {
flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
    border:none;
    margin-bottom: 13px;
}
.list .t_t1__prise .prise {
order: -1;
    font-size: 18px;
    margin-right: 16px;
}
.list .t_t1__title_and_valuation {
    margin-bottom: 8px;
}
.list .t_t1__description__add_to_card {
      width: 163px;
  height: 44px;
  border-radius: 20px;
  background-color: #ee2c37;
  border: solid 1px #ffffff;
    display: block;
      font-size: 16px;
  color: #ffffff;
}
.list .t_t1__title_and_valuation > p {
    font-size: 16px;
    margin-bottom: 7px;
}
.list .product_item_t_1__add_to_card {
    display: none;
}
.list .product_item_t_1__enlarge_photo {
    display: none;
}
}
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
@media screen and (max-width:900px) {
    .product_item_t_1__add_to_card {
    transform:scale(0.8);
    }
    .product_item_t_1__enlarge_photo {
    transform:scale(0.8);
    }
}
@media screen and (max-width:600px) {
    .product_item_t_1__add_to_card {
    transform:scale(1);
    }
    .product_item_t_1__enlarge_photo {
    transform:scale(1);
    }
}
@media screen and (max-width:1300px) {
    .t_t1__title_and_valuation > p {
        font-size: 11px;
    }
    .t_t1__prise .prise {
        font-size: 12px;
    }
    .t_t1__prise .sale {
        font-size: 11px;
    }
    .t_t1__prise .sale .rouble_icon {
        width: 7px;
        height: 7px;
        background-image: url(../img/icons/roubl__gray.svg);
    }
    .t_t1__prise .prise .rouble_icon {
        width: 7px;
        height: 8px;
    }
    .t_t1__prise {
        padding-left: 10px;
    }
    .t_t1__title_and_valuation > img {
        width: 48px;
    }
    .product_item_t_1 {
        padding: 36px 13px 16px 13px;
    }
    .product_item_t_1 > img {
            width: calc(100% - 46px);
        margin-bottom: 33px;
    }
}
@media screen and (max-width:600px) {
    .product_item_t_1 {
        width: 100%;
    }
    .t_t1__title_and_valuation > p {
        font-size: 14px;
    }
        .t_t1__prise .prise {
        font-size: 16px;
    }
    .t_t1__prise .sale {
        font-size: 14px;
    }
}