.name_page .btn_t_2 {
    color: #131212;
}
.sort select {
    margin-right: 30px;
}
.items_fakturi {
    margin-top: 38px;
}


.item {
        width: 100%;
    border: 1px solid #a6a6a6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.item .body {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}
@media screen and (max-width:1000px) {
    .item .body {
        flex-direction: column;
    }
    .item .body > * {
        margin-bottom: 30px;
    }
    .sort {
    display: flex;
    flex-direction: column;
}
.sort > * {
    margin-bottom: 30px;
}
}
