footer {
    background: #0b0c18;
  font-size: 16px;
  text-align: center;
  color: #ececec;
    padding-top: 32px;
    padding-bottom: 43px;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__soc {
    display: flex;
    flex-wrap: wrap;
    width: 133px;
}
.footer__soc span {
    width: 100%;
    margin-bottom: 17px;
    text-align: left;
}
.footer__soc a {
    margin-right: 10px;
}
.footer__soc a:hover .icon_vk{fill:#2f3e65;}
.footer__soc a:hover .icon_fc{fill:#2f3e65;}
.footer__soc a:hover .icon_od{fill:#2f3e65;}
.footer__soc a:hover .icon_inst{fill:#2f3e65;}

.footer__soc a .icon_vk   {transition:all 0.3s;}
.footer__soc a .icon_fc   {transition:all 0.3s;}
.footer__soc a .icon_od   {transition:all 0.3s;}
.footer__soc a .icon_inst {transition:all 0.3s;}
@media screen and (max-width:700px) {
    footer .wrapper {
        flex-wrap: wrap;
    }    
    footer .wrapper > * {
        margin-bottom: 30px;
    }
}