<div class="footer__make-an-appointment">
    <form class="zapis">
        <div class="zapis__t1">Записаться на приём</div>
        <div class="zapis__t2">Все поля обязательны для заполнения. Администратор свяжется с вами, чтобы уточнить время.</div>
        <div class="zapis__wr">
            <div class="zapis__wr__left-part">
                <input type="text" class="zapis__input" placeholder="Имя">
                <input type="text" class="zapis__input" placeholder="Телефон">
                <select class="zapis__select">
                    <option value="Клиника">Клиника</option>
                    <option value="Клиника1">Клиника1</option>
                    <option value="Клиника2">Клиника2</option>
                </select>
                <select class="zapis__select">
                    <option value="Услуга">Услуга</option>
                    <option value="Услуга1">Услуга1</option>
                    <option value="Услуга2">Услуга2</option>
                </select>
                <select class="zapis__select">
                    <option value="Врач">Врач</option>
                    <option value="Врач1">Врач1</option>
                    <option value="Врач2">Врач2</option>
                </select>
            </div>
            <div class="zapis__wr__right-part">
                <div class="zapis__date-pickedr"></div>
                <select class="zapis__select">
                    <option value="12:00 — 14:00">12:00 — 14:00</option>
                    <option value="12:00 — 14:00">12:00 — 14:00</option>
                    <option value="12:00 — 14:00">12:00 — 14:00</option>
                </select>
            </div>
        </div>
        <button class="btn_t_1 zapis__submit">отправить</button>
    </form>
</div>