<div class="map-and-form">
    <div class="map-and-form__map"></div>
    <div class="map-and-form__form">
        <div class="map-and-form__form__contacts">
            <div class="map-and-form__form__contacts__title">Контактные данные</div>
            <ul class="map-and-form__form__contacts__ul">
                <li class="map-and-form__form__contacts__ul__item">
                    <img src="img/icon/map__white.svg" alt="" width="18px" class="map-and-form__form__contacts__ul__item__icon">
                    <span class="map-and-form__form__contacts__ul__item__text">г. Санкт-Петербург, Большой пр. П.С., д. 12</span>
                </li>
                <li class="map-and-form__form__contacts__ul__item">
                    <img src="img/icon/tel__white.svg" alt="" width="14px" class="map-and-form__form__contacts__ul__item__icon">
                    <a href="tel:+79211234567" class="map-and-form__form__contacts__ul__item__text">+7 (921) 123-45-67</a>
                </li>
                <li class="map-and-form__form__contacts__ul__item">
                    <img src="img/icon/mail__white.svg" alt="" width="20px" class="map-and-form__form__contacts__ul__item__icon">
                    <a href="mailto:hospital@mail.ru" class="map-and-form__form__contacts__ul__item__text">hospital@mail.ru</a>
                </li>
            </ul>
            <div class="map-and-form__form__contacts__soc soc">
				<a href="#" class="soc__item"><img src="img/icon/soc__vk__red.svg" alt="" class="soc__item__icon"></a>
				<a href="#" class="soc__item"><img src="img/icon/soc__fb__red.svg" alt="" class="soc__item__icon"></a>
				<a href="#" class="soc__item"><img src="img/icon/soc__ok__red.svg" alt="" class="soc__item__icon"></a>
				<a href="#" class="soc__item"><img src="img/icon/soc__in__red.svg" alt="" class="soc__item__icon"></a>
            </div>
        </div>
        <form class="map-and-form__form__contacts__form">
            <p class="map-and-form__form__contacts__form__text1">Нужна  консультация?</p>
            <p class="map-and-form__form__contacts__form__text2">Оставьте свои контактные данные, 
мы перезвоним</p>
           <input name="" type="text" placeholder="Имя" class="map-and-form__form__contacts__form__input">
           <input name="" type="text" placeholder="Телефон" class="map-and-form__form__contacts__form__input">
           <textarea name="" id="" cols="30" rows="10" class="map-and-form__form__contacts__form__texarea" placeholder="Комментарий"></textarea>
           <button class="map-and-form__form__contacts__form__submit btn_t_1">Отправить</button>
        </form>
    </div>
</div>