.pagination {
  margin-bottom: 30px; 
    margin-top: 30px;
}
.pagination__item {
    width: 32px;
    height: 32px;
    background: #f7f7f7;
    color: #6b6b6b;
    font-size: 12px;
    margin-right: 4px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
}
.pagination__item.active {
    border: 2px solid #fd926d;
    line-height: 30px;
}