
.menu_links {
     display: flex;
    width: 250px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 3vw;
}
.menu_links > li {
    margin: 0px;
    white-space: nowrap;
    color: #02ade5;
    line-height: 14px;
    height: 22px;
    display: table-cell;
    vertical-align: middle;
}
.menu_links > li:before {
content: '';
    height: 9px;
    width: 9px;
    background: #02ade5;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin: 4px 6px 0px 0px;
}
.menu_links > li > a {
color: #000;
text-decoration: none;
    border-bottom: 1px dotted #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}
.menu_links > li > a:hover {
border: none;
}

.login {
    display: flex;
    padding: 10px;
    border: 1px solid rgba(2,174,229,0.30);
    border-radius: 2px;
    position: relative;
    border-top: none;
     box-sizing: border-box;
    width: 380px;
}
.login:before {
content: 'Вход для клиентов';
    position: absolute;
    margin: -17px 0px 0px 0px;
    font-size: 10px;
    left: 0px;
    padding: 0px 20px 0px 20px;
    color: #4f4f4f;
    text-transform: uppercase;
}
.login:after {
content: '';
   display: block;
    width: calc(100% - 147px);
    position: absolute;
    border-bottom: 1px solid rgba(2,174,229,0.30);
    right: 0px;
    top: 0px;
}
.login > input{
background: rgba(0,0,0,.3);
    border: none;
    height: 30px;
    border-radius: 2px;
    color: #fff;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    width: 50%;
    margin: 0px 5px 0px 5px;
}
.login > input::-webkit-input-placeholder {color:#fff;}
.login > input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login > input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login > input:-ms-input-placeholder      {color:#fff;}
.login > input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.login > input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.login > input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.login > input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.login > input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.login > input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.login > input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.login > input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.submit_menu_button {
    width: 50px !important;
    text-align: center;
    padding: 0px !important;
    border-bottom: 3px solid #0172c9 !important;
    box-sizing: border-box;
    height: 30px !important;
    display: block;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 10px;
    bottom: 10px;
background: -moz-linear-gradient(1deg, #02A1E0 20%, #04bae9 100%) !important;/* FF3.6+ */
background: -webkit-gradient(linear, 1deg, color-stop(20%, 02A1E0), color-stop(100%, 04bae9)) !important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(1deg, #02A1E0 20%, #04bae9 100%) !important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(1deg, #02A1E0 20%, #04bae9 100%) !important;/* Opera 11.10+ */
background: -ms-linear-gradient(1deg, #02A1E0 20%, #04bae9 100%) !important;/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1') !important; /* for IE */
background: linear-gradient(1deg, #02A1E0 20%, #04bae9 100%) !important;/* W3C */

}
.submit_menu_button:hover {
    border-bottom: 3px solid #4a9619 !important;
  background: -moz-linear-gradient(1deg, #7cbd3c 20%, #9CD05D 100%) !important;/* FF3.6+ */
background: -webkit-gradient(linear, 1deg, color-stop(20%, 7cbd3c), color-stop(100%, 9CD05D)) !important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(1deg, #7cbd3c 20%, #9CD05D 100%) !important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(1deg, #7cbd3c 20%, #9CD05D 100%) !important;/* Opera 11.10+ */
background: -ms-linear-gradient(1deg, #7cbd3c 20%, #9CD05D 100%) !important;/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1') !important; /* for IE */
background: linear-gradient(1deg, #7cbd3c 20%, #9CD05D 100%) !important;/* W3C */
}
.submit_menu_button:active {
    border-bottom: none !important;
     border-top: 2px solid #0172c9 !important;
     border-left: 2px solid #0172c9 !important;
background: -moz-linear-gradient(1deg, #04BAE9 20%, #02A1E0 100%) !important;/* FF3.6+ */
background: -webkit-gradient(linear, 1deg, color-stop(20%, 04BAE9), color-stop(100%, 02A1E0)) !important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(1deg, #04BAE9 20%, #02A1E0 100%) !important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(1deg, #04BAE9 20%, #02A1E0 100%) !important;/* Opera 11.10+ */
background: -ms-linear-gradient(1deg, #04BAE9 20%, #02A1E0 100%) !important;/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1') !important; /* for IE */
background: linear-gradient(1deg, #04BAE9 20%, #02A1E0 100%) !important;/* W3C */
}

.tel {
    width: 225px;
    text-align: center;
    order: 1;
 
}
.tel > p {
font-family: 'PF Din Text';
    font-size: 40px;
    font-weight: 300;
}

menu {
       height: 100%;
        display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
menu > * {
    margin: 0;
}
.phone_end_login {
     height: 102px;
        display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > img {width: 100%;}
.menu_and_logo {
           height: 100%;
        display: flex;
    justify-content: space-between;
    align-items: center;
   
}


@media screen and (max-width:1150px) {
    .login {width: 100%;}
    .logo {width: 11.5vw;}
    .menu_links {width: 28vw;}
    .phone_end_login {flex-direction: column; width: 35vw; min-width: 275px}
    .tel {order: 0; text-align: right;   width: 100%;}

}
@media screen and (max-width:850px) {

    .phone_end_login { }
 .logo {width: 11.0vw;}
    .menu_and_logo {width: 45vw; }

}
@media screen and (max-width:600px) {
    .phone_end_login {height: 155px; width: 50vw;
    min-width: 150px;}
    .login {
        flex-direction: column; 
        height: 101px;
    }
    header{height: 161px;}
    .login > input{width: 100%; margin: 5px 0px 5px 0px; height: 36px;}
    .tel > p {font-size: 9.0vw; text-align: center;}
    .menu_and_logo {flex-direction: column; align-items:flex-start; justify-content: flex-start}
    .logo {width: 90px; margin: 0;}
    .menu_links {width: 84px; box-sizing: border-box; margin: 0; flex-direction: column; margin: 14px 0px 0px 0px;}
    .menu_links > li > a {font-size: 14px; height: 25px; line-height: 29px; }
    .menu_links > li {height: auto;}
}





