.characteristics {
    position: fixed;
    background: #fff;
    z-index: 999999;
    height: 230px;
    width: 900px;
    left: 50%;
    top: 50%;
    margin-right: -115px;
    margin-left: -450px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
    align-items: flex-start;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}
.characteristics__close {
    width: 100%;
}
.characteristics__title {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
}
.characteristics__close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 20px;
    background: url(../../img/close_v_2.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
.characteristics__item {
    font-size: 12px;
    color: #666;
}
.characteristics__item span {
    font-size: 14px;
    color: #000;
}
#characteristics:checked + .characteristics {
    display: flex;
    opacity: 1;
}