.wrapper {
    margin: 0px auto;
    max-width: 95%;
    width: 1140px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    overflow-x: hidden;
}