
body {
    background: url(..../images/10pagegb.png) no-repeat;
    background-size: contain;
    background-position: center top;
    min-height: 100vh;
}
header .content {
    justify-content: center;
}
.logo_head {
    display: none;
}
@media screen and (max-width:768px) {
  .logo_head {
    display: block;
}
    header .content {
    justify-content: space-between;
}
}
.big_logo {
    width: 90%;
    max-width: 560px;
    display: block;
    margin: 0px auto;
    margin-bottom: 80px;
}
.block_1 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide h4 {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.slide {max-width: 75%;margin: 0px 25px;}
.slide p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #aaaaaa;
    margin-bottom: 50px;
}
.arrow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:2px solid #e1bc7c;
    color: #e1bc7c;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;

}
@media screen and (max-width:768px) {
    .arrow {
        display: none;
    }
    .block_1 .content {
        justify-content: center;
    }
}
 .btn_t_1 {
    margin: 0px auto;
    display: block;
    width: auto;
    text-align: center;
     display:table;
     margin-bottom: 90px;
     margin-top: 50px;
}
.block_1 {
}
.iconmouse {
    display: block;
    margin: 0px auto;
    margin-bottom: 70px;
}

body h2 {
    text-align: center;
    font-weight: 300;
    font-size: 35px;
margin-bottom: 60px;
}

.shkura_right_block {
    position: relative;
    width: 220px;
    height: 338px;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
            width: 170px;
        height: 264px;
}
.shkura_right_block img {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
}
.ramka {
 display: flex;
    border: 2px solid #cbaa6e;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
}
.ramka span {
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
}
.ramka span:hover {
    color: #d6b477
}

.right_block {
    margin-left: 95px;
       order: -1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0px;
        flex-wrap: wrap;
        height: 264px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: 65px;
}

@media screen and (max-width:768px) {

    .right_block {
        height: 220px;
    }
    .shkura_right_block {
        width: 140px;
        height: 220px;
    }
    .duble_img {
    flex-direction: column;
}
.duble_img img {
width: 100%;
    margin-bottom: 13px;
}
}

.programms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 442px;
    justify-content: space-between;
}
.programms .active {
    border: 2px solid #d6b477;
}
.programms > h3 {
    font-weight: 300;
    font-size: 35px;
    color: #fefefe;
    margin-bottom: 58px;
}
.prog {
    border: 2px solid rgba(255,255,255,.10);
    padding: 25px 30px;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.prog p {
    font-size: 20px;
    font-weight: bold;
    color: #d6b477;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.prog p.time {
font-size: 18px;
    font-weight: 300;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
}
.prog p.time:before {
content: '\e804';
    font-family: 'fontello';
    font-weight: 100 !important;
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 5px;
    font-size: 20px;
}
.hit {
    border-color: #d6b477;
}
.hit:before {
  content: 'хит';
    display: block;
    position: absolute;
    left: -35px;
    top: 50%;
    font-size: 14px;
    margin-top: -20px;
    background: #d6b477;
    padding: 13px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
@media screen and (max-width:960px) {
        .conteiner_page .content  {
max-width: 91%;
}
}
@media screen and (max-width:768px) {

    .prog {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding-bottom: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-left: 7px;
        padding-right: 7px;

    }
    .prog p:first-child {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
    .prog a {
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin-left: -43px;
    }
    .hit:before {
  content: 'хит';
    display: block;
    position: absolute;
    left: 50%;
    top: -6px;
    font-size: 14px;
    margin-left: -22px;
    background: #d6b477;
    padding: 13px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
}
.popprg {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.popprg .programms {
    margin-right: 20px;
}

@media screen and (max-width:960px) {
 .telka {
 display: none;
}
}

.aventagers_us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aventagers_us div {
    width: 100%;
    max-width: 430px;
    margin-bottom: 25px;
}
.aventagers_us div:nth-child(even) {
   margin-right: 30px;
}
.aventagers_us div img {
float: left;
    margin-right: 20px;
}
.aventagers_us div h5 {
font-size: 18px;
    font-weight: bold;
    color: #fefefe;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.aventagers_us div p {
font-size: 16px;
    font-weight: 400;
    color: #fefefe;
}
@media screen and (max-width:960px){
 .aventagers_us div {
    max-width: 340px;
}
    .aventagers_us div h5 {
font-size: 14px;
}
    .aventagers_us div p {
font-size: 12px;
    font-weight: 400;
    color: #fefefe;
}
}
@media screen and (max-width:768px){
    .aventagers_us {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .aventagers_us div:nth-child(even) {
   margin-right: 0px;
}
}

.mesage_in_guest {
    padding: 40px 0px 100px 0px;
    background: #fff;
    color: #000;
    margin-top: 50px;
}
.mesage_in_guest .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_otevet {
    padding: 45px 30px 65px 30px;
    margin-top: 40px;
    box-sizing: border-box;
    border:1px solid #cecece;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
}
.new_otevet .btn_t_3 {
margin-top: 40px;
    margin-bottom: -107px;
}

.inteerieri {
    padding: 70px 0px;
    background:  url(..../images/10_page_bg_interieri.png) no-repeat 0% 0%, url(..../images/10_page_bg_interieri2.png) no-repeat 0% 100%;
    background-size: contain;
}
.inteerieri img {
    max-width: 100%;
}
.inteerieri .content img {
    float: left;
margin-top: -40px;
    margin-right: -40px;
    margin-bottom: -20px;
}
.inteerieri .content p {
    font-size: 16px;
    font-weight: 300;
    color: #d8d8d8;

}
.previu_post {
    width: 290px;
    position: relative;
    overflow: hidden;
    margin-bottom: 85px;
}
.previu_post img {
    margin-bottom: 20px;
}
.previu_post h3 {
    font-size: 18px;
    font-weight: 400 !important;
    color: #fff;
    margin-bottom: 25px;
}
.previu_post p {
font-size: 14px;
    font-weight: 300;
    color: #858585;
    line-height: 150%;
    margin-bottom: 20px;
}
.readmore {
  color: #d6b477;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.readmore .icon {
    font-weight: 300;
    margin-left: 7px;
    font-size: 14px;
}
.date_post {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 20px;
    line-height: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
}
.date_post:before {
content: '';
    display: block;
    background: #b99556;
    width: 150%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: -57px;
    top: 0px;
    transform: skewX(-30deg);
}
.new_for_blog {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px) {
    .new_for_blog > div {
        display: none;
    }
    .new_for_blog > div:first-child {
       display: block;
    }
    .new_for_blog {
        justify-content: center;
    }
}
.text_block {
    border: 22px solid #fff;
    background: #fff;
    box-shadow: inset 2px 2px 0px 0px #d6b477, inset -2px -2px 0px 0px #d6b477;
    padding: 30px;
    color: #000000;
    font-size: 16px;

}
.text_block p { color: #000 !important; opacity: 1; font-weight: 400 !important;}
@media screen  and (max-width:768px) {
    .text_block {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 0px;
        border-left: 0px;
    }
}

.map_img {
    height: 450px;
    background: url(..../images/map_img.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map_img img {
    max-width: 100%;
}

.partners .content {
    padding: 45px 0px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.partners {background: #fff;}
.partners h2 {
    width: 100%;
    margin-bottom: 60px;
    color: #000;
}
footer {
    margin-top: 0px;
}
