.first-screen__t2 {
  font-weight: 600;
  line-height: 1.63;
     max-width: 485px;
    margin-bottom: 36px;
}
.first-screen__t3 {
  font-size: 17px;
    margin-bottom: 48px;
}
.first-screen__t3 span{
  font-size: 20px;
  font-weight: bold;
}

/*////////////////////////////////////////////////////////////*/
.first-screen__t4 {
    margin-bottom: 24px;
}
.first-screen__t5 {
    font-size: 13px;
  font-weight: bold;
}
.first-screen__t5 span {
     color: #6c8742;
}
/*/////////////////////////////////////*/
.first-screen.p1 {
    background-image: url(../img/page_11/bg_screen_1.jpg);
    background-size: 38vw;
}
/*///////////////////////////*/
/*///////////////////////////*/
/*///////////////////////////*/
/*///////////////////////////*/
.p11_b1 {
    background-image: url(../img/page_11/p11_b1_t2__right_part.png);
    background-repeat: no-repeat;
    background-position: 89% bottom;
    background-size: 36vw;
}
.p11_b1 .p11_b1_wrapper{
    padding-bottom: 70px;
}
.p11_b1 .p11_b1_t1 {
    margin-bottom: 79px;
    max-width: 100%;
}
.p11_b1_t2 {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.p11_b1_t2__left_part {
 font-size: 17px;
  font-weight: 600;
  line-height: 1.53; 
    max-width: 696px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.p11_b1_t2__left_part .common_ul{
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}
.p11_b1_t2__left_part .common_ul .common_ul__item {
  margin-bottom: 10px;
    line-height: 26px;
}
.p11_b1_t2__left_part__i_1 {
    margin-bottom: 19px;
    width: 100%;
}

@media screen and (max-width:1400px) {
    .p11_b1_t2__left_part {
        max-width: 100%;
        display: inline;
    }
    .p11_b1_t2 {
        display: block;
    } .p11_b1 {
        background-image: none;
    }
}
@media screen and (max-width:768px) {
    .p11_b1 .p11_b1_t1 {
        margin-bottom: 20px;
    }
    .p11_b1 .p11_b1_wrapper{
     padding-bottom: 20px;   
    }
   
}