
.slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -3999;
    background-size: cover;
    display: none;
    color: #fff;
    padding-top: 270px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 1s;
        min-height: 1000px;
}
.slide_1 { background: url(../../img/royal/slide_1.jpg);  display: block;}
.slide_2 { background: url(../../img/royal/slide_2.jpg);  display: block;}
.slide_3 { background: url(../../img/royal/slide_3.jpg);  display: block;}
.slide_4 { background: url(../../img/royal/slide_4.jpg);  display: block;}
.slider .active {
    opacity: 1;
    z-index: 1;
}
.slide h2 {
    font-size: 52px;
    text-transform: uppercase;
    max-width: 600px;
    line-height: 150%;
    margin-bottom: 25px;
}
.slide h2 span {
    font-size: 24px;
    display: block;
    margin-top: 35px;
     max-width: 550px;
}
.slide p {
    font-size: 17px;
     max-width: 550px;
    line-height: 130%;
}
main {
    background: #fff;
    padding: 30px 0px 50px 0px;
    position: relative;
    z-index: 99;
    margin-top: 650px;
}
main .content > div {
    display: flex;
        margin-bottom: 40px;
    align-items: center;
}
main .content > div > div {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 25px;
    box-sizing: border-box;
    align-items: flex-start;
}
main .content > div > div h2 {
font-size: 33px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
main .content > div > div p {
font-size: 17px;
    margin-bottom: 30px;
    line-height: 120%;
}
main .content > div > div a {
padding: 17px 25px;
    border: 1px solid #000;
    display: flex;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
}
main .content > div > div a:before {
    content: '';
        display: block;
    right: 0px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-right: -14px;
width: 26px;
height: 4px;
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAECAYAAACQli8lAAAACXBIWXMAAAsSAAALEgHS3X78AAAAO0lEQVQY07XQAQ3AMAzEQLsajxVCIQRCIQx6mPxQ5AhYskmYou4kDbCY9amt3ketwdAGXuA4vK6ATtI/8MgRS91KZwkAAAAASUVORK5CYII=);
}
/*////////////////FOOTER*/
footer {
    background: #fff;
}
.footer_logo {
    width: 176px;
    height: 64px;
    margin-right: auto;
}
footer .content {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
      border-top: 1px solid #c8c8c8;
    justify-content: space-between;
}
footer .content ul {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-left: 30px;
}
footer .content ul li p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
footer .content ul li  {
margin-bottom: 10px;
}
@media screen and (max-width:1000px) {
    main .content > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    
    main .content > div img {
            max-width: 100%;
        margin-bottom: 50px;
        order: -1;
    }
}