/*LOGIND FORM BEGIN*/
.login_form_and_top_info { 
        width: 63%;
    min-width: 800px;
    height: 100%;

}
.login {
    height: 637px;
    width: 100%;
    position: relative;
background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, #EAEAEA 45%, #EAEAEA 55%, rgba(255, 255, 255, 0) 90%), -moz-linear-gradient(90deg, #FFFFFF 10%, #EAEAEA 45%, #EAEAEA 55%, #EAEAEA 90%);/* FF3.6+ */
background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, #EAEAEA 45%, #EAEAEA 55%, rgba(255, 255, 255, 0) 90%), -webkit-linear-gradient(90deg, #FFFFFF 10%, #EAEAEA 45%, #EAEAEA 55%, #EAEAEA 90%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, #EAEAEA 45%, #EAEAEA 55%, rgba(255, 255, 255, 0) 90%), -o-linear-gradient(90deg, #FFFFFF 10%, #EAEAEA 45%, #EAEAEA 55%, #EAEAEA 90%);/* Opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, #EAEAEA 45%, #EAEAEA 55%, rgba(255, 255, 255, 0) 90%), -ms-linear-gradient(90deg, #FFFFFF 10%, #EAEAEA 45%, #EAEAEA 55%, #EAEAEA 90%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, #EAEAEA 45%, #EAEAEA 55%, rgba(255, 255, 255, 0) 90%), linear-gradient(0deg, #FFFFFF 10%, #EAEAEA 45%, #EAEAEA 55%, #EAEAEA 90%);/* W3C */
}

.fon_login > p {
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        color: #f4f4f4;
    position: absolute;
}

.fon_login {
height: 0px;
}

.padding_login_form {
    height: 538px;
    margin: 0px 0px 0px 0px;
    padding: 44px 0px 0px 0px;
    position: relative;
    width: 100%;
}






.padding_login_form > div{
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 33.33%;
    margin: 0px 0px 0px 0px;
}

.login_form {
    position: relative;
    padding: 0px 1.5vw 0px 1.5vw;
}

#login_form {
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 19px;
    padding: 49px 0px 0px 0px ;
    background: -moz-linear-gradient(-90deg, #FFFFFF 49%, rgba(255,255,255,0) 100%), -moz-linear-gradient(0deg, #FFFFFF 10%, #ffffff 50%, #FFFFFF 90%);/* FF3.6+ */
background: -webkit-gradient(linear, 0deg, color-stop(10%, FFFFFF), color-stop(50%, F0F0F0), color-stop(90%, FFFFFF));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(-90deg, #FFFFFF 49%, rgba(255,0,0,0) 100%), -webkit-linear-gradient(0deg, #FFFFFF 10%, #F0F0F0 50%, #FFFFFF 90%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-90deg, #FFFFFF 49%, rgba(255,0,0,0) 100%), -o-linear-gradient(0deg, #FFFFFF 10%, #F0F0F0 50%, #FFFFFF 90%);/* Opera 11.10+ */
background: -ms-linear-gradient(-90deg, #FFFFFF 49%, rgba(255,0,0,0) 100%), -ms-linear-gradient(0deg, #FFFFFF 10%, #F0F0F0 50%, #FFFFFF 90%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(180deg, #FFFFFF 49%, rgba(255,0,0,0) 100%), linear-gradient(90deg, #FFFFFF 10%, #fffff 50%, #FFFFFF 90%);/* W3C */
    

}

.logo_img_form_login {
box-sizing: border-box;
    max-width: 100%;
    padding: 0px 3.01vw 0px 2.2vw;
    margin: 0px 0px 47px 0px;
}


.area {
    display: block;
    width: 70%;
    height: 40px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0px auto 10px auto;
    padding: 0px 0px 4px 10px;
    font-size: 14px;
}
.area:focus {
    outline: none;
}
.area::-webkit-input-placeholder {color:#333333;}
.area::-moz-placeholder          {color:#333333;}/* Firefox 19+ */
.area:-moz-placeholder           {color:#333333;}/* Firefox 18- */
.area:-ms-input-placeholder      {color:#333333;}

.login_button {
    width: 70%;
    height: 67px;
    margin: 0px auto 0px auto;
    position: relative;
    border-bottom: 1px solid #c2c2c2;
}

#login_button {
    height: 42px;
    width: 44%;
    border-radius: 22px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    text-shadow: -1px -1px 0px rgba(0,0,0,.19);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
    cursor: pointer;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition:all 0.05s ease;
	-moz-transition:all 0.05s ease;
	-o-transition:all 0.05s ease;
	transition:all 0.05s ease;
background: #f5ac3a; /* Old browsers */
background: -moz-linear-gradient(top,  #f5ac3a 0%, #d39432 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f5ac3a 0%,#d39432 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f5ac3a 0%,#d39432 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ac3a', endColorstr='#d39432',GradientType=0 ); /* IE6-9 */

}

#login_button:focus {
 outline: none;   
}

#login_button:hover {
background: #f4bb64; /* Old browsers */
background: -moz-linear-gradient(top,  #f4bb64 0%, #d1a159 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f4bb64 0%,#d1a159 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f4bb64 0%,#d1a159 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bb64', endColorstr='#d1a159',GradientType=0 ); /* IE6-9 */
}

#login_button:active {
box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.24);
    margin: 2px 0px 0px 0px;
    color: #f6f6f6;
background: #f4a329; /* Old browsers */
background: -moz-linear-gradient(top,  #f4a329 0%, #d18a1f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f4a329 0%,#d18a1f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f4a329 0%,#d18a1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a329', endColorstr='#d18a1f',GradientType=0 ); /* IE6-9 */

}


.login_button a {
    text-decoration: none;
    color: #333333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    padding: 2px 0px 0px 7px;
    margin: 10px 11px 0px 0px;
}
.login_button a:hover {
    text-decoration: underline;
}
#registration  {
    height: 40px;
    width: 68%;
    border-radius: 22px;
    border: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 600;
    margin: 25px auto 0px auto;
    padding: 2px 0px 0px 0px;
    text-shadow: -1px -1px 0px rgba(0,0,0,.19);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
    cursor: pointer;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition:all 0.05s ease;
	-moz-transition:all 0.05s ease;
	-o-transition:all 0.05s ease;
	transition:all 0.05s ease;
background: #02a2be; /* Old browsers */
background: -moz-linear-gradient(top,  #02a2be 0%, #028ba4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #02a2be 0%,#028ba4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #02a2be 0%,#028ba4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a2be', endColorstr='#028ba4',GradientType=0 ); /* IE6-9 */


}
#registration:focus {
 outline: none;   
}
#registration:hover {

background: #1aa7bc; /* Old browsers */
background: -moz-linear-gradient(top,  #1aa7bc 0%, #2890a3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1aa7bc 0%,#2890a3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1aa7bc 0%,#2890a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aa7bc', endColorstr='#2890a3',GradientType=0 ); /* IE6-9 */

}
#registration:active {
box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.24);
    margin: 27px auto 0px auto;
    color: #f6f6f6;
background: #00a4ba; /* Old browsers */
background: -moz-linear-gradient(top,  #00a4ba 0%, #0088a0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00a4ba 0%,#0088a0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00a4ba 0%,#0088a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4ba', endColorstr='#0088a0',GradientType=0 ); /* IE6-9 */


}
#registration:active ~ #work_take {
margin: 19px auto 0px auto;
}

#work_take  {
    height: 40px;
    width: 68%;
    border-radius: 22px;
    border: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 600;
    margin: 21px auto 0px auto;
    padding: 2px 0px 0px 0px;
    text-shadow: -1px -1px 0px rgba(0,0,0,.19);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
    cursor: pointer;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition:all 0.05s ease;
	-moz-transition:all 0.05s ease;
	-o-transition:all 0.05s ease;
	transition:all 0.05s ease;
background: #064d6f; /* Old browsers */
background: -moz-linear-gradient(top,  #064d6f 0%, #054260 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #064d6f 0%,#054260 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #064d6f 0%,#054260 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064d6f', endColorstr='#054260',GradientType=0 ); /* IE6-9 */



}
#work_take:focus {
 outline: none;   
}
#work_take:hover {
background: #1b536d; /* Old browsers */
background: -moz-linear-gradient(top,  #1b536d 0%, #10455e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1b536d 0%,#10455e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1b536d 0%,#10455e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b536d', endColorstr='#10455e',GradientType=0 ); /* IE6-9 */
}
#work_take:active {
box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.24);
    margin: 23px auto 0px auto;
    color: #f6f6f6;
background: #00496b; /* Old browsers */
background: -moz-linear-gradient(top,  #00496b 0%, #003e5b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00496b 0%,#003e5b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00496b 0%,#003e5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00496b', endColorstr='#003e5b',GradientType=0 ); /* IE6-9 */
}



.text_top {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-weight: 700;
    padding: 0px 0px 0px 12px;
}

.text_pod_top {
        font-size: 36px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #02a6c3;
    font-weight: lighter;
    margin: -19px 0px 0px 0px;
    padding: 0px 0px 0px 26px;
}

.top_offerov {
    padding: 84px 0px 0px 0px;
}

.statistiv_product {
    border: 1px solid #fff;
    background: rgba(255,255,255,.7);
    box-sizing: border-box;
    height: 90px;
    width: 88%;
    border-radius: 22px;
    position: relative;
    margin: 10px auto 0px auto;
}

.number_of_product {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -14px;
    border-radius: 50%;
    top:calc(50% - 15px);
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(0,0,0,.16);
background: #02a2be; /* Old browsers */
background: -moz-linear-gradient(top,  #02a2be 0%, #078da5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #02a2be 0%,#078da5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #02a2be 0%,#078da5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a2be', endColorstr='#078da5',GradientType=0 ); /* IE6-9 */

}

.name_product_and_price {
    height: 50%;
    padding: 19px 10px 0px 28px;
    font-size: 14px;
    box-sizing: border-box;
    overflow: hidden;
}
.name_product_and_price b{
text-transform: uppercase;
    font-size: 14px;
}
.name_product_and_price p{
float: left;
    width: 70%;
    font-size: 12px;
}
.name_product_and_price i{
font-style: normal;
    font-weight: bold;
    font-size: 14px;
    float: right;
    width: 30%;
    text-align: right;
}

.statistic_persent_product {
    height: 50%;
}




.epc_ruble {
      width: 30%;
    height: 100%;
    float: left;
    padding: 8px 7px 0px 0px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: right;
}

.persent_block {
      width: 70%;
    height: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    position: relative;
}





.clear_persent {
    height: 100%;
    width: 12%;
    float: left;
}

.persents {
    width: 88%;
    height: 100%;
    float: left;
    position: relative;
}

.persents_background {
    width: 100%;
    height: 16px;
    border-bottom: 3px solid #333333;
    position: absolute;
}

.persent {
        width: 25%;
    height: 16px;
    border-bottom: 3px solid #02a6c3;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: #02a6c3;
    text-align: right;
}



.top_webmasters {
      padding: 84px 0px 0px 0px;
}

.top_offerov_statistic_block {
    height: 290px;
    width: 88%;
    background: rgba(255,255,255,.7);
    border-radius: 20px;
    margin: 12px auto 0px auto;
    border: 1px solid #fff;
}

.name_category {
    height: 75px;
}

.name_category > div {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: table;
}
.name_category > div > p {
display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.name_category > div > p > b {
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 10px;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    font-style: 300;
    font-weight: normal;
    font-size: 14px;
    speak: none;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chart_webmasters {
    height: 40px;
    position: relative;
    border-top:1px solid #fff ;
}

.pleace_in_the_list {
    float: left;
    height: 100%;
    width: 15%;
    display: table;
    text-align: center;
}
.pleace_in_the_list p{
display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.name_webmaster_in_the_list {
        float: left;
    height: 100%;
    width: 40%;
    display: table;
    text-align: center;
}
.name_webmaster_in_the_list p{
display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-align: left;
    padding: 0px 0px 0px 8px;
}

.money_in_the_list {
        float: left;
    height: 100%;
    width: 45%;
    display: table;
    text-align: center;
}

.money_in_the_list p{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.login_form_shadow {
    width: 28%;
    height: 53px;
    position: relative;

background: -moz-radial-gradient(center, ellipse cover,  rgba(181,181,181,1) 0%, rgba(168,168,168,0) 75%, rgba(163,163,163,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,181,181,1) 0%,rgba(168,168,168,0) 75%,rgba(163,163,163,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(181,181,181,1) 0%,rgba(168,168,168,0) 75%,rgba(163,163,163,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#00a3a3a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.login_form_shadow:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 58%;
    background: #000;
    bottom: 0px;
    left: calc(50% - 28%);
    margin: 0px 0px -2px 0px;
}

.fon_simvol1 {
    font-size: 3vw;
    top: 17%;
    left: 35%;
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH"; 
}

.fon_simvol2 {
        font-size: 1.4vw;
    top: 15%;
    left: 32%;
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH"; 
}

.fon_simvol3 {
        font-size: 3vw;
    top: 17%;
    left: 77%; 
}

.fon_simvol4 {
     font-size: 1.4vw;
    top: 15%;
    left: 83%; 
}

.fon_simvol5 {
            font-size: 3.1vw;
    top: 17%;
    left: 3%;
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH";
}

.fon_simvol6 {
               font-size: 5.1vw;
    top: 9%;
    left: 14%;
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH";
}

.fon_simvol7 {
    font-size: 2.8vw;
    top: 26%;
    left: 11%;
}

.fon_simvol8 {
        font-size: 4.7vw;
    top: 32%;
    left: 2%;
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH";
}

.fon_simvol9 {
      font-size: 6.0vw;
    top: 46%;
    left: 7%;
    -moz-transform: rotate(19deg);/* FF3.5+ */
-webkit-transform: rotate(19deg);/*Saf3.1+, Chrome*/
-o-transform: rotate(19deg);/* Opera 10.5 */
-ms-transform: rotate(19deg);/* IE 9 */
transform: rotate(19deg);
}

.fon_simvol10 {
         font-size: 2.8vw;
    top: 35%;
    left: 94%;
}

.fon_simvol11 {
           font-size: 5.1vw;
    top: 11%;
    left: 89%;
}

.fon_simvol12 {
    font-size: 6.2vw;
    top: 43%;
    left: 85%;
    -moz-transform: rotate(-19deg);/* FF3.5+ */
-webkit-transform: rotate(-19deg);/*Saf3.1+, Chrome*/
-o-transform: rotate(-19deg);/* Opera 10.5 */
-ms-transform: rotate(-19deg);/* IE 9 */
transform: rotate(-19deg);
}

/*LOGIN FORM END*/

.form_obratnoi_sviazi {
    width: 64%;
    min-width: 800px;
    overflow: hidden;
}

.form_obratnoi_sviazi h1 {
    text-align: center;
    margin: 51px 0px 0px 0px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
}

.form_contacs {
    width: 100%;
}

.form_contacs div {
    width:  50%;
    float: left;
}

.description_form {
    padding: 70px 66px 0px 19px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
}

.skype_contact {
    margin: 29px 0px 0px 0px;
}
.skype_contact img {
vertical-align: middle;
    margin-right: 8px;
}

.jabber_contact {
    margin: 9px 0px 0px 0px;
}
.jabber_contact img {
vertical-align: middle;
    margin-right: 8px;
}


#feed_back {
    width: 95%;
    margin: 36px 0px 0px 0px;
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,.8);
    border-radius: 20px;
    padding: 45px 0px 50px 0px;
    position: relative;
}

.area_feed_back {
    width: 83%;
    display: block;
    height: 40px;
    box-sizing: border-box;
    border:1px solid #c2c2c2;
    border-radius: 10px;
    outline: none;
    margin: 0px auto 10px auto;
    padding: 5px 0px 0px 8px;
    font-size: 14px;
    font-weight: 400;
}
#feed_back textarea {
    height: 250px;
    width: 83% !important;
    display: block !important;
    margin: 0px auto !important;
}
.area_feed_back::-webkit-input-placeholder {color:#333333;}
.area_feed_back::-moz-placeholder          {color:#333333;}/* Firefox 19+ */
.area_feed_back:-moz-placeholder           {color:#333333;}/* Firefox 18- */
.area_feed_back:-ms-input-placeholder      {color:#333333;}

.feed_back_button {
    margin: 32px 0px 0px 51px;
    width: 140px !important;
}
.feed_back_button:active {
    margin: 32px 0px 0px 51px !important;
}
