.sortirovka {
width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #b9c8cf;
    padding: 0px 0px 19px 0px;
}
.description_statii > * {
margin: 0px;
}
.sortirovka > * {
        margin: 0px 15px;
}

.sortirovka > div {
display: inline-block;
position: relative;

}
.sortirovka > div:before {
    content: url(../images/arrow_right.png);
    position: absolute;
    right: -11px;
    top: 0;
}
.sortirovka > div:after {
    content: url(../images/arrow_left.png);
    position: absolute;
    left: -11px;
    top: 0;
}
input[name="kamni"] {
    display: none;
}
input[name="kamni"]:checked + label {
 color: #fff;
    border: none;
  text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0,.5 );
    border: 2px solid transparent;
}
input[name="kamni"]:checked + label:after {
content: '';
    width: calc(100% + 12px);
    height: 103%;
    background: url(../images/button4.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    z-index: -1;
    position: absolute;
    right: -6px;
    top: -1px;
}
input[name="kamni"]:checked + label:before {
content: '';
}
input[name="kamni"] + label{
border-top: 2px solid #cc6633;
border-bottom: 2px solid #cc6633;
    padding: 10px 20px;
    color: #cc6633;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    margin: 0px 20px;
    z-index: 2;
}
input[name="kamni"] + label:before {
content: url(../images/arrow_left2.png);
    position: absolute;
    left: -12px;
    top: -2px;
}
input[name="kamni"] + label:after {
content: url(../images/arrow_left2.png);
    position: absolute;
    right: -12px;
    top: -2px;
    transform: scaleX(-1);
}
.resul_kamni > h2 {
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    border: none;
    text-transform: uppercase;
    color: #cc6633;
    margin-bottom: 40px;
    margin-top: 0px;
}
.resul_kamni > h2:before, .resul_kamni > h2:after {
display: none;
}

.table_opisanie {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 70px;
}
.table_opisanie td{
padding: 15px;
}
.table_opisanie tr td:first-of-type {
background: #fedbb8;
}
.table_opisanie tr td:last-of-type {
background: #fef5ec;
}
.table_opisanie tr:nth-child(even) td:last-of-type {
background: #fff;
}
.table_opisanie tr:nth-child(even) td:first-of-type {
background: #ffe3c7;
}
.table_opisanie thead tr th {
background: #f8850c;
    color: #fff;
    font-weight: normal;
    padding: 15px;
}
