.s_tovarom_buy_slider  {
    margin: 0px auto;
        max-width: 646px;
}
.s_tovarom_buy_slider__item {
       width: 140px;
    height: 150px;
    background: #fff;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box; 
}
.s_tovarom_buy_slider__img {
       width: 60px;
    height: 60px; 
        margin: 0px auto 11px auto;
}
.s_tovarom_buy_slider__text {
        font-size: 12px;
    line-height: 160%;
}
.s_tovarom_buy_slider__price {
    font-size: 12px;
    font-weight: bold
}
.s_tovarom_buy_slider__price .rubl:after {
    content:'q';
}
.s_tovarom_buy_slider {
    display: flex;
}
.slick-prev {
        display: inline-block;
    position: absolute;
    left: -10px;
    top: 50%;
    color: transparent;
    width: 10px;
    height: 36px;
    border: none;
    margin-top: -18px;
    background: #e4e4e4;
    background-image: url(../../img/slider_arrow_left.svg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 7px 13px;
    cursor:pointer;
    z-index:99;
    transition:all 0.3s;
}
.slick-next {
        display: inline-block;
    position: absolute;
    right: -10px;
    top: 50%;
    color: transparent;
    width: 10px;
    height: 36px;
    border: none;
    margin-top: -18px;
    background: #e4e4e4;
    background-image: url(../../img/slider_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 7px 13px;
    cursor:pointer;
    z-index:99;
    transition:all 0.3s;
}
.slick-disabled {
  opacity: 0;
}