.page_1_promotion_block_2__item_1 {
    height: 272px;
    width: 867px;
    background: #e4e4e4;
    font-size: 36px;
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
        max-width: 100%;
}